.card-container {
    background-color: #09d3ac;
    padding: 10px;
    width: 25vw;
    height: 25vh;
    margin: 10px;

    

}

.card-heading {

}

.card-title {

}

.card-body { 
    margin-top: -20px;
    display: flex;
    text-align: left;
}